<p>this is the chat channel
</p>
<div class="container">
    <h1>Live Buddy Chat</h1>
    <div>
        <input type="text" id="chatname" />
        <button type="submit" id "change_chatname">Change Chat Name</button>

        <div id="feedback"></div>

        <input type="text" id="message"/>
        <button type="submit" id="change_message">Send Message</button>
    </div>
</div>